body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
    

}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.half-width{
    width: 50%;
   
    margin-left:4% ;
    padding-left:6%;

}
.orange_color{
    color: chartreuse;
}

.experience-item{
    width: 40%;
    margin:5% 5%;
    box-shadow:10px 10px 40px gray ;
    padding-left:20px;
    border-radius: 5px;
   


}
.experience-area{
    background-image:url(images/exp-bg.png);
    background:no-repeat;
    background-position:left;
}

.half-width img{
    width:80%;
}
.flexible_container{
    display: flex;
    margin-bottom: 100px;
}

.anchor-button{
    text-decoration: none;
    background:linear-gradient(45deg,lightsalmon,tomato); 
    padding:10px,40px;
    border-radius:5px;
    color:white;
    font-weight:700px;
}

.top-banner{

    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
.dream_big{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}

#border-experience{
    border-left:7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice:1;
}
#border-experience-red{
    border-left:7px solid;
    border-image:linear-gradient(orange, tomato);
    border-image-slice:1;
}
footer p{
    text-align: center;;
}